<nav class="d-flex p-2 nav row fixed-top">
  <NavLink class="nav-link ms-md-4" href="/">
      <img class="img-fluid" alt="@title" width="96" title="@title" src="@logo" />
  </NavLink>
</nav>
@code {
  private string title = "PA II - Blazor Landing Page";
  private string logo = "/img/blazorwebsitetemplate.png";
}
